@font-face {
  font-family: 'CreativeVintage';
  src: url('../assets/CreativeVintageRegular-BP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.containerCard {
    position: fixed;
    top: 12.5%;
    bottom: 12.5%;
    left: 12.5%;
    right: 12.5%;
    width: 75%;
    height: 75%;
    background-color: #01040D;
    border: 2px solid white;
    border-radius: 20px;
    padding: 15px 0px 30px 0px;
}

/* -- botao voltar -- */

.containerCard .cabecalhoCard {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 0 5%;
}

.cabecalhoCard .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    border-radius: 5px;
    border: 2px solid #FFF;
    cursor: pointer;
}

/* -- grid -- */

.containerCard .gridCard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 80px;
}

/* -- capa -- */

.containerCard .capa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
}

.containerCard .capa .precos { 
    margin: 18px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerCard .capa .precos #preco {
    margin: 0;
    weight: 600;
    color: #FAFAFA;
    font-size: 30px;
}

.containerCard .capa .precos #precoAntigo {
    margin: 0;
    weight: 600;
    color: #FAFAFA;
    font-size: 17px;
    text-decoration: line-through white;
}

.containerCard .capa #comprar {
    font-family: 'CreativeVintage', cursive;
    background-color: #EAA64D;
    border: none;
    border-radius: 6px;
    height: 36px;
    font-size: 18px;
    box-shadow: 0 0 11.084px #EAA64D;
    cursor: pointer;
}

.containerCard .capa #capaImagem {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    object-fit: cover;
}

/* -- informacoes -- */

.containerCard .informacoes {
    margin-left: 21px;
}

.containerCard .informacoes #titulo {
    font-family: 'CreativeVintage', cursive;
    font-size: 32px;
    text-align: center;
    display: inline;
}

.containerCard .informacoes #ano {
    font-family: 'CreativeVintage', cursive;
    width: 4ch;
    font-size: 32px;
    display: inline;
}

.containerCard .informacoes .infos1 {
    display: flex;
}

.infos1 #duracao {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding: 0 5px;
}

.infos1 #estrela {
    width: 30px;
    height: 31px;
    padding: 0 5px;
}

.infos1 #classificacao {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding: 0 5px;
}

.infos1 #relogio {
    width: 30px;
    height: 24px;
    padding: 0 5px;
}

.infos1 .origem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding-left: 100px;
}

.infos1 .origem #pais {
    font-family: Inter;
    font-weight: 700;
    margin: 0;
    padding: 0 5px;
}

.infos1 .origem #idioma {
    margin: 0;
    font-weight: 700;
}

.infos1 .origem #idioma b {
    font-weight: normal;
}

.infos2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    padding: 0 5px;

}

.infos2 b {
    font-weight: 500;
    text-transform: capitalize;
}

.infos2 #generos {
    font-size: 22px;
}

.infos2 #descricao {
    line-height: 150%;
    font-size: 19px;
    font-weight: 300;
}
