.navegacaoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacaoContainer .paginasNavegacao {
    all: unset;
    padding: 12px 14px;
    margin: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.07);
    background-blend-mode: plus-lighter;
    backdrop-filter: blur(5.500134468078613px);
    text-align: center;
    color: #EAA64D;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
}

.botaoNavegacao {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.07);
    background-blend-mode: plus-lighter;
    backdrop-filter: blur(5.500134468078613px);
    text-align: center;
    color: #EAA64D;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
    gap: 5px;
}

.botaoNavegacao img {
    height: 10px;
}

.botaoNavegacao button {
    all: unset;
}