.cardHorizontal {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.infosHorizontal {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  top: 142px;
  align-items: center;
}

.infosHorizontal #titulo {
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#interacao {
  display: flex;
  flex-direction: row;
}

#interacao #shoppingCart {
  display: flex;
  justify-items: center;
  width: 40px;
  height: 38px;
  align-items: center;
  border-radius: 6px;
  background-color: #EAA64D;
  box-shadow: 0 0 11.932px #EAA64D;
  margin-left: 5px;
}

#interacao #cart {
  width: 70%;
  height: 70%;
  padding-left: 4px;
}

#interacao button {
  all: unset;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #EAA64D;
  background-color: rgba(255, 255, 255, 0.07);
  background-blend-mode: plus-lighter;
  box-shadow: 1.217px 1.134px 4.62px 0 rgba(255, 255, 255, 0.13) inset;
  backdrop-filter: blur(7.579999923706055px);
  width: 90px;
  height: 33px;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #EAA64D;
  cursor: pointer;
}