.site-header {
  background: var(--Azuis-06, #0e1423);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  max-width: 1180px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.logo-img {
  width: 75px;
  height: 75px;
  filter: drop-shadow(0 4px 16px #ef9607);
}

.logo-title {
  width: 120px;
  color: #fff;
  text-shadow: 0 4px 90px rgba(255, 255, 255, 0.25);
  font-family: "Creative Vintage Regular BP";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -1px;
}

.search-bar-container {
  flex: 2;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
}

.search-input {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: #fff;
  position: relative;
}

.search-input::placeholder {
  color: #9c9c9c;
  font-family: "Segoe UI";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.search-input:focus {
  border-color: #eaa64d;
}

.search-button {
  display: none;
}

.search-extra-icon {
  margin-left: 8px;
  cursor: pointer;
  position: absolute;
  right: 55px;
  top: 20%;
}

.search-icon {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}

.cart-button-pro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 44px;
  padding: 14px 12px;
  border-radius: 10px;
  background: var(--Amarelos-01, #eaa64d);
  box-shadow: 0 0 18px #eaa64d;
}

.cart-button-pro:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(247, 169, 59, 0.8);
}

/* O contêiner do ícone:*/
.icon-container {
  position: relative;
}

/* O ícone em si */
.cart-icon {
  width: 40px;
  height: 40px;
}

/* A contagem de itens (o número "99") */
.item-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: white;
  color: #f7a93b;
  border-radius: 7px;
  padding: 1px 6px;
  font-size: 12px;
  font-weight: bold;
}

.cart-text {
  color: #fff;
  font-family: "Creative Vintage Regular";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
