@font-face {
  font-family: 'CreativeVintage';
  src: url('../assets/CreativeVintageRegular-BP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.containerCatalogo {
  padding: 5% 11%;
  display: flex;
  justify-content: center;
  position: relative;
}

.legendaSecao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.legendaSecao h1 {
  font-family: 'CreativeVintage';
  font-weight: 600;
  font-size: 20px;
  color: #EAA64D;
  margin: 0;
}

.legendaSecao #divider {
  border: 2px solid #EAA64D;
  border-radius: 50px;
  height: 0px;
  width: 80%;

}

.cardsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards {
  display: grid;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px;
}

.cardsHorizontais {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  padding-bottom: 20px;
}

.navegacaoSuperior {
  position: absolute;
  top: 20px;
  right: 130px;
}

.navegacaoInferior {
  position: absolute;
  bottom: 20px;
}